.Question
    display: flex
    align-items: center
    gap: 30px
    padding: 6px 4px
    background-color: rgb(247, 255, 254)

    &:nth-child(2n)
        background-color: rgb(241, 247, 239)
        border-top: none
        border-bottom: none

    &Error
        background-color: #ff00001f

    @media (max-width: 559px)
        gap: 10px

.ButtonDelete
    margin-left: auto

.ErrorText
    color: #ff4d4f
