.Question
    display: flex
    align-items: center
    gap: 30px

.ButtonDelete
    margin-left: auto

.EditQuestionFooter
    display: flex
    justify-content: end
    align-items: center
    gap: 20px
    margin-top: 30px

.ErrorText
    color: #ff4d4f
